# List Comprehension

In [1]:
# 1
zeroslist1 = []
for i in range(4):
  zeroslist1.append(0)

print("1: The values in zeroslist1 are: {0}".format(zeroslist1))

zeroslist2 = [0 for i in range(4)]
print("1: The values in zeroslist2 are: {0}\n".format(zeroslist2))

# 2
numslist1 = []
for x in [1, 2, 3]:
  for y in [10, 20, 30]:
    if((y - x) % 2 == 1):
      numslist1.append(x+y)

print("2: The values in numslist1 are: {0}".format(numslist1))

numslist2 = [x+y for x in [1, 2, 3] for y in [10, 20, 30] if (y - x) % 2 == 1]
print("2: The values in numslist2 are: {0}\n".format(numslist2))

1: The values in zeroslist1 are: [0, 0, 0, 0]
1: The values in zeroslist2 are: [0, 0, 0, 0]

2: The values in numslist1 are: [11, 21, 31, 13, 23, 33]
2: The values in numslist2 are: [11, 21, 31, 13, 23, 33]

In [16]:
# INTERACTIVE EXAMPLE: Squares of even numbers
nums = [0, 1, 2, 3, 4]
print("The values in nums are: {0}".format(nums))

even_nums_squared = [] # Write a list comprehension that stores the squares of the even values in nums so nums_squared = [0, 4, 16]
print("The values in even_nums_squared are: {0}\n".format(nums_squared))

The values in nums are: [0, 1, 2, 3, 4]
The values in nums_squared are: []

In [22]:
# INTERACTIVE EXAMPLE: Matrix transpose
matrix = [[1, 2],[3,4],[5,6],[7,8]]
print("The values in matrix are: {0}".format(matrix))

# With nested loops
transpose1 = []
for i in range(2):
  transpose1.append([])
  
  for row in matrix:
    transpose1[i].append(row[i])

print("The values in transpose1 are: {0}".format(transpose1))

transpose2 = [] # Write a list comprehension that transposes the matrix so that transpose2 == transpose1
print("The values in transpose2 are: {0}".format(transpose2))

The values in matrix are: [[1, 2], [3, 4], [5, 6], [7, 8]]
The values in transpose1 are: [[1, 3, 5, 7], [2, 4, 6, 8]]
The values in transpose2 are: []

# Tuples

In [29]:
# 1
mytup = (0, "Good Morning", [1, 2, 3])
print("1: mytup has values: {val1} of type {type1}, {val2} of type {type2}, and {val3} of type {type3}\n"\
      .format(val1=mytup[0], type1=type(mytup[0]), val2=mytup[1], type2=type(mytup[1]), val3=mytup[2], type3=type(mytup[2])))

# 2
print("2: The length of mytup is: {0}\n".format(len(mytup)))

# 3
def split_name(name):
  split_name = name.split(" ") # Split function returns a list
  first_name = split_name[0]
  last_name = split_name[1]
  return first_name, last_name

myname = "Billy Joe"
first_name, last_name = split_name(myname)
print("3: My first name is {0} and my last name is {1}".format(first_name, last_name))

1: mytup has values: 0 of type <type 'int'>, Good Morning of type <type 'str'>, and [1, 2, 3] of type <type 'list'>

2: The length of mytup is: 3

3: My first name is Billy and my last name is Joe

# Dictionaries

In [36]:
# 1
mydict = {
    "Apples": ["red", "yellow", "green"], 
    "Berries": ["raspberry", "strawberry", "blueberry", "blackberry"]
}

mydict["Grapes"] = ["red", "green"] # Add another element to mydict

print("1: mydict has keys {0} and values {1}".format(mydict.keys(), mydict.values()))
print("1: The types of apples are {0}\n".format(mydict["Apples"]))

# 2
for k, v in mydict.items():
  if "red" in v:
    print("2: There are red {0}".format(k))

# 3 - String formatting with dictionaries
print("3: mydict has Apples: {Apples}, Berries: {Berries}, and Grapes: {Grapes}".format(**mydict))

1: mydict has keys ['Berries', 'Apples', 'Grapes'] and values [['raspberry', 'strawberry', 'blueberry', 'blackberry'], ['red', 'yellow', 'green'], ['red', 'green']]
1: The types of apples are ['red', 'yellow', 'green']

2: There are red Apples
2: There are red Grapes
3: mydict has Apples: ['red', 'yellow', 'green'], Berries: ['raspberry', 'strawberry', 'blueberry', 'blackberry'], and Grapes: ['red', 'green']

In [39]:
# Interactive Example - Write a function that returns a list of the unique values out of the dictionary watch_colors's values
watch_colors = {
    "sport" : ["black", "gray", "white"],
    "classic" : ["black", "silver", "white"],
    "Fashion" : ["rose gold", "platinum", "black"]
}

# Only return the unique values. i.e. unique_colors == ["black", "gray", "white", "silver", ...]
def unique_colors(mydict):
  unique_colors = []
  
  # Your code here
  
  return unique_colors

print("The unique watch colors are: {0}".format(unique_colors(watch_colors)))

The unique watch colors are: []

# Collections

In [54]:
import collections

# 1
Point = collections.namedtuple('Point', ['x', 'y'])
myPoint = Point(11, 22)

print("1: the value of the variable myPoint is {0} with type {1}".format(myPoint, type(myPoint)))
print("1: the x value of myPoint is {0} and the y value of myPoint is {1}\n".format(myPoint.x, myPoint.y))

# 2
d = {'banana': 3, 'apple': 4, 'pear': 1, 'orange': 2} # Normal dictionary
# Don't worry about understanding the lambda syntax below. We will cover that in a later session.
new_d = collections.OrderedDict(sorted(d.items(), key=lambda t: t[0])) # OrderedDict sorted by key

print("2: new_d is an OrderedDict with value: {0}".format(new_d))

new_d.popitem(last=True)
print("2: We can removed a value from new_d with the popitem() method: {0}".format(new_d))

print("2: Using the _asdict() method on a namedtuple() returns an OrderedDict as well: {0}\n".format(myPoint._asdict()))

# 3
cnt = collections.Counter()
words = ['red', 'blue', 'red', 'green', 'blue', 'blue']
for word in words:
  cnt[word] += 1
print("3: cnt is of type {0} with values {1}".format(type(cnt), cnt))
print("3: There were {0} occurences of blue in the words list".format(cnt['blue']))

1: the value of the variable myPoint is Point(x=11, y=22) with type <class '__main__.Point'>
1: the x value of myPoint is 11 and the y value of myPoint is 22

2: new_d is an OrderedDict with value: OrderedDict([('apple', 4), ('banana', 3), ('orange', 2), ('pear', 1)])
2: We can removed a value from new_d with the popitem() method: OrderedDict([('apple', 4), ('banana', 3), ('orange', 2)])
2: Using the _asdict() method on a namedtuple() returns an OrderedDict as well: OrderedDict([('x', 11), ('y', 22)])

3: cnt is of type <class 'collections.Counter'> with values Counter({'blue': 3, 'red': 2, 'green': 1})
3: There were 3 occurences of blue in the words list