# Variables

In [17]:
# Declaring and initializing variables in Python
# 1
x = 10
print("1: x is of type {0} with value {1}".format(type(x), x))

# 2
y = "Hello"
print("2: y is of type {0} with value {1}".format(type(y), y))

# 3
print("3: y has length {0}".format(len(y)))

# 4
z = str(x)
print("4: z is of type {0} with value {1}".format(type(z), z))

# 5
val = None
print("5: val is of type {0} with value {1}".format(type(val), val))

# 6
a = "Hi"
b = "Bye"
print("6: a has value {0} and b has value {1}".format(a, b))

# 7
a, b = b, a
print("7: but now a has value {0} and b has value {1}".format(a, b))

1: x is of type <type 'int'> with value 10
2: y is of type <type 'str'> with value Hello
3: y has length 5
4: z is of type <type 'str'> with value 10
5: val is of type <type 'NoneType'> with value None
6: a has value Hi and b has value Bye
7: but now a has value Bye and b has value Hi

# Logic & Conditionals

In [4]:
# Basic logic
print("1: (1 == 2) = {0}".format(1 == 2))

print("2: (False and False) = {0}".format(False and False))

print("3: ('a' in 'alpha') = {0}".format('a' in 'alpha'))

print("4: (('b' not in 'eggs') and (4 != 10)) = {0}".format(('b' not in 'eggs') and (4 != 10)))


# Basic conditionals
if (1 == 2):
  print("5: Math is broken")
  
elif (5 > 10 or 66 < 2):
  print("5: Math is still broken")
  
else:
  print("5: Math probably isn't broken")

1: (1 == 2) = False
2: (False and False) = False
3: ('a' in 'alpha') = True
4: (('b' not in 'eggs') and (4 != 10)) = True
5: Math probably isn't broken

# Lists

Python list (and other data structure) operators: https://docs.python.org/3/tutorial/datastructures.html

Good post about list slicing on SO: https://stackoverflow.com/questions/509211/understanding-pythons-slice-notation

In [12]:
dogs = ["Golden Retriever", "Maltese", "Labradoodle"]

# 1
print("1: Dogs is a list with items {0}, {1}, and {2}\n".format(dogs[0], dogs[1], dogs[2]))

# 2
print("2: The value in the 0th position in dogs is: {0}\n".format(dogs[0]))

# 3
print("3: The length of the list dogs is: {0}\n".format(len(dogs)))

# 4
dogs.append("Poodle")
dogs.insert(0, "Shih Tzu")
dogs.remove("Labradoodle")
print("4: When we change the values in the list dogs we get:\n{0}\n".format(dogs))

# 5
print("5: The first 2 elements in the dogs list are:\n{0}".format(dogs[0:2]))

1: Dogs is a list with items Golden Retriever, Maltese, and Labradoodle

2: The value in the 0th position in dogs is: Golden Retriever

3: The length of the list dogs is: 3

4: When we change the values in the list dogs we get:
['Shih Tzu', 'Golden Retriever', 'Maltese', 'Poodle']

The first 2 elements in the dogs list are:
['Shih Tzu', 'Golden Retriever']

# Loops

In [16]:
# 1
x = 0
while x < 2:
  x+=1

print("1: The value of x is: {0}\n".format(x))

# 2
for i in range(0, 5, 2): # i starts with val 0, increments by 2, and the loop end when the value is >=5
  print("2: i has value: {0}".format(i))

print("")

# 3
x = 10
for i in range(5):
  print("3: i has value {0}".format(i))
  
  if (i > 1 and x == 10):
    break
    
print("3: break kills the loop prematurely!\n")

# 4
dogs = ["Golden Retriever", "Maltese", "Labradoodle", "Good Boy"]
for dog in dogs:
  if dog == "Labradoodle":
    break # Ends the loop here and goes onto the code after the rest of the for loop body
    
  elif dog == "Golden Retriever":
    continue # Skips the rest of the for loop code body and goes to the next iteration
  
  print("4: The value of dog is: {0}".format(dog))
  
# 5 (Nothing happens here)
for i in range(2):
  pass # Try removing this and leaving the line empty.

1: The value of x is: 2

2: i has value: 0
2: i has value: 2
2: i has value: 4

3: i has value 0
3: i has value 1
3: i has value 2
3: break kills the loop prematurely!

4: The value of dog is: Maltese

# Functions

In [25]:
# 1
def ILL():
  return "INI"
print("1: The return value of ILL() is: {0}\n".format(ILL()))

# 2
def adsa_is_cool(name, major="CS", second_major=None):
  bio = "{name_} is majoring in {major_}".format(name_=name, major_=major)
  if(second_major is not None):
    bio += " and {second_major_}".format(second_major_=second_major)
  return bio

print("2: {0}".format(adsa_is_cool("Sandy")))
print("2: {0}".format(adsa_is_cool("Patrick", major="Electrical Engineering")))
print("2: {0}\n".format(adsa_is_cool("Super Human", second_major="Electrical Engineering")))

1: The return value of ILL() is: INI

2: Sandy is majoring in CS
2: Patrick is majoring in Electrical Engineering
2: Super Human is majoring in CS and Electrical Engineering